.breadcrumb{margin-left:10px;font-size:90%;height:1.6em}.breadcrumb a:link,.breadcrumb a:visited{color:#00f;text-decoration:none;cursor:pointer}.breadcrumb a:hover{color:#00f;text-decoration:underline;cursor:pointer}