.editor-disabled{height:140px;overflow:auto;background-image:url({{path}}/plugins/texteditor/plugin_tinymce3_texteditor/tinymce/jscripts/tiny_mce/themes/advanced/img/disabled_icons.gif);background-repeat:no-repeat;padding-top:26px}.mee{font-size:120%;display:inline}