{#This file is part of Rogō

 Rogō is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Rogō is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Rogō.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the multiple choice question type with drop down display.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables:

data.unanswered - flag to indicate if question has previously been answered
data.questionno - question number
data.options - the options
options.selected - flag to indicate if option has previously been selected
options.optiontext - the option text
options.position - option position
data.dismiss - record of which options have been dismissed by the user
#}
<blockquote {% if data.unanswered %} class="unans" {% endif %}>
    <div class="option">
        <select {%if data.unanswered %} class="unans" {% endif %} name="q{{data.questionno}}" size="1">
            <option value=""></option>
{% for i,p in data.options %}
            <option value="{{p.position}}" {% if p.selected %} selected {% endif %}>{{p.optiontext|raw}}</option>
{% endfor %}
        </select>
    </div>
    <div>
        <input type="hidden" name="dismiss{{data.questionno}}" id="dismiss{{data.questionno}}" value="{{data.dismiss}}" />
    </div>
</blockquote>