<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="content-type" content="text/html;charset={{charset}}"/>

        <title>{{"Rog&#333;:"|raw}} {{lang.title}}</title>

        <link rel="stylesheet" type="text/css" href="{{path}}/css/body.css"/>
        <link rel="stylesheet" type="text/css" href="{{path}}/css/submenu.css"/>
        <link rel="stylesheet" type="text/css" href="{{path}}/css/header.css"/>
        {{additionalcss|raw}}

        <script type="text/javascript" src="{{path}}/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="{{path}}/js/staff_help.js"></script>
        <script type="text/javascript" src="{{path}}/js/toprightmenu.js"></script>
        {{additionaljs|raw}}
    </head>