{#This file is part of Rogō

 Rogō is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Rogō is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Rogō.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the multiple response question type with  vertical checkbox with 'other' textbox display.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables:

data.unanswered - flag to indicate if question has previously been answered
data.questionno - question number
data.options - the options
options.selected - flag to indicate if option has previously been selected
options.optiontextdisplay - flag to indicate if there is option text to display
options.displayoptionmedia - flag to indicate if there is option media to display
options.optionmedia - the option media
options.optiontext - the option text
options.position - option position
options.optionnumber - option number
options.allowedresponses - maximum number of responses allowed
options.inact - flag to indicate if option  has previously been set as dismissed
data.labelcolour - colour of label, controlled by user accessibility settings.
data.dismiss - record of which options have been dismissed by the user
data.partid - the question part id
data.otherselected - flag to indicate if other option has previously been selected
data.other - text user entered into other textbox
#}
<blockquote {% if data.unanswered %} class="unans" {% endif %}>
<table cellpadding="2" cellspacing="0" border="0">
{% for i,p in data.options %}
    <tr>
        <td>
            <input type="checkbox" {% if data.papertype != 3 %} onclick="MRQ({{data.questionno}},{{p.position}},{{data.optionnumber}},{{data.allowedresponses}});" {% endif %} name="q{{data.questionno}}_{{p.position}}" id="q{{data.questionno}}_{{p.position}}" value="y" {% if p.selected %} checked="checked" {% endif %} />
        </td>
        <td>
            {% if p.optiontextdisplay %}
            <span {% if p.inact %} class="inact" {% else %} class="act" {% endif %} id="{{data.questionno}}_{{p.position}}"> {{p.optiontext|raw}}</span></br>
            {% endif %}
            {% if p.displayoptionmedia %}
                {% include 'paper/media.html' with {'data': p.optionmedia} %}
            {% endif %}
        </td>
    </tr>
{% endfor %}
    <tr>
        <td>
            <input type="checkbox" name="q{{data.questionno}}_{{data.partid}}" value="y" {% if data.otherselected %} checked="checked" {% endif %}/>
        </td>
        <td>{{lang.other}} 
            <input type="text" onkeypress="document.questions.q{{data.questionno}}_{{data.partid}}.checked=true" name="q{{data.questionno}}_other" value="{{data.other}}" />
        </td>
    </tr>
</table>
<div>
    <input type="hidden" name="dismiss{{data.questionno}}" id="dismiss{{data.questionno}}" value="{{data.dismiss}}" />
</div>
</blockquote>