<script type="text/javascript">var lang_string = {{jsstring|raw}};</script>
<script type="text/javascript" src="{{path}}/js/html5.images.min.js"></script>
<script type="text/javascript" src="{{path}}/js/qsharedf.js"></script>
<script type="text/javascript" src="{{path}}/js/qlabelling.js"></script>
<script type="text/javascript" src="{{path}}/js/qhotspot.js"></script>
<script type="text/javascript" src="{{path}}/js/qarea.js"></script>