/* Reset */
.greySkin table, .greySkin tbody, .greySkin a, .greySkin img, .greySkin tr, .greySkin div, .greySkin td, .greySkin iframe, .greySkin span, .greySkin *, .greySkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.greySkin a:hover, .greySkin a:link, .greySkin a:visited, .greySkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.greySkin table td {vertical-align:middle}

/* Containers */
.greySkin table {direction:ltr; background:white}
.greySkin iframe {display:block; background:#FFF}
.greySkin .mceToolbar {height:26px}
.greySkin .mceLeft {text-align:left}
.greySkin .mceRight {text-align:right}

/* External */
.greySkin .mceExternalToolbar {position:absolute; border:1px solid #CCC; border-bottom:0; display:none;}
.greySkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.greySkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.greySkin table.mceLayout {border:0; border-left:1px solid #828790; border-right:1px solid #828790}
.greySkin table.mceLayout tr.mceFirst td {border-top:1px solid #828790}
.greySkin table.mceLayout tr.mceLast td {border-bottom:1px solid #828790}
.greySkin table.mceToolbar, .greySkin tr.mceFirst .mceToolbar tr td, .greySkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0}
.greySkin td.mceToolbar {padding-top:0px; vertical-align:top}
.greySkin .mceIframeContainer {border-top:1px solid #CCC; border-bottom:1px solid #CCC}
.greySkin .mceStatusbar {font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000; display:block; height:20px}
.greySkin .mceStatusbar div {float:left; margin:2px}
.greySkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize; outline:0}
.greySkin .mceStatusbar a:hover {text-decoration:underline}
.greySkin table.mceToolbar {margin-left:3px}
.greySkin span.mceIcon, .greySkin img.mceIcon {display:block; width:20px; height:20px}
.greySkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}
.greySkin td.mceCenter {text-align:center;}
.greySkin td.mceCenter table {margin:0 auto; text-align:left;}
.greySkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.greySkin .mceButton {display:block; border:1px solid transparent; width:20px; height:20px; margin-right:1px}
.greySkin a.mceButtonEnabled:hover {border:1px solid #FFE7A2; background-color:#FFE7A2}
.greySkin a.mceButtonActive, .greySkin a.mceButtonSelected {border:1px solid #FFBD69; background-color:#FFBD69}
.greySkin .mceButtonDisabled .mceIcon {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.greySkin .mceButtonLabeled {width:auto}
.greySkin .mceButtonLabeled span.mceIcon {float:left}
.greySkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.greySkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.greySkin .mceSeparator {display:block; background:url(../../img/icons.gif) -180px 0; width:2px; height:20px; margin:2px 2px 0 4px}

/* ListBox */
.greySkin .mceListBox, .greySkin .mceListBox a {display:block}
.greySkin .mceListBox .mceText {padding-left:4px; width:70px; text-align:left; border:1px solid #CCC; border-right:0; background:#FFF; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.greySkin .mceListBox .mceOpen {width:9px; height:20px; background:url(../../img/icons.gif) -741px 0; margin-right:2px; border:1px solid #CCC;}
.greySkin table.mceListBoxEnabled:hover .mceText, .greySkin .mceListBoxHover .mceText, .greySkin .mceListBoxSelected .mceText {border:1px solid #A2ABC0; border-right:0; background:#FFF}
.greySkin table.mceListBoxEnabled:hover .mceOpen, .greySkin .mceListBoxHover .mceOpen, .greySkin .mceListBoxSelected .mceOpen {background-color:#FFF; border:1px solid #A2ABC0}
.greySkin .mceListBoxDisabled a.mceText {color:gray; background-color:transparent;}
.greySkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.greySkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.greySkin .mceOldBoxModel .mceListBox .mceOpen {width:11px; height:22px;}
.greySkin select.mceNativeListBox {font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:7pt; background:#F0F0EE; border:1px solid gray; margin-right:2px;}

/* SplitButton */
.greySkin .mceSplitButton {width:32px; height:20px; direction:ltr}
.greySkin .mceSplitButton a, .greySkin .mceSplitButton span {height:20px; display:block}
.greySkin .mceSplitButton a.mceAction {width:20px; border:1px solid #F0F0EE; border-right:0;}
.greySkin .mceSplitButton span.mceAction {width:20px; background-image:url(../../img/icons.gif);}
.greySkin .mceSplitButton a.mceOpen {width:9px; background:url(../../img/icons.gif) -741px 0; border:1px solid #F0F0EE;}
.greySkin .mceSplitButton span.mceOpen {display:none}
.greySkin table.mceSplitButtonEnabled:hover a.mceAction, .greySkin .mceSplitButtonHover a.mceAction, .greySkin .mceSplitButtonSelected a.mceAction {border:1px solid #0A246A; border-right:0; background-color:#B2BBD0}
.greySkin table.mceSplitButtonEnabled:hover a.mceOpen, .greySkin .mceSplitButtonHover a.mceOpen, .greySkin .mceSplitButtonSelected a.mceOpen {background-color:#B2BBD0; border:1px solid #0A246A;}
.greySkin .mceSplitButtonDisabled .mceAction, .greySkin .mceSplitButtonDisabled a.mceOpen {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.greySkin .mceSplitButtonActive a.mceAction {border:1px solid #0A246A; background-color:#C2CBE0}
.greySkin .mceSplitButtonActive a.mceOpen {border-left:0;}

/* ColorSplitButton */
.greySkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.greySkin .mceColorSplitMenu td {padding:2px}
.greySkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.greySkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.greySkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.greySkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.greySkin a.mceMoreColors:hover {border:1px solid #0A246A}
.greySkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a}
.greySkin .mce_forecolor span.mceAction, .greySkin .mce_backcolor span.mceAction {overflow:hidden; height:16px}

/* Menu */
.greySkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #D4D0C8}
.greySkin .mceNoIcons span.mceIcon {width:0;}
.greySkin .mceNoIcons a .mceText {padding-left:10px}
.greySkin .mceMenu table {background:#FFF}
.greySkin .mceMenu a, .greySkin .mceMenu span, .greySkin .mceMenu {display:block}
.greySkin .mceMenu td {height:20px}
.greySkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.greySkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.greySkin .mceMenu span.mceText, .greySkin .mceMenu .mcePreview {font-size:11px}
.greySkin .mceMenu pre.mceText {font-family:Monospace}
.greySkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.greySkin .mceMenu .mceMenuItemEnabled a:hover, .greySkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.greySkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.greySkin .mceMenuItemTitle a {border:0; background:#EEE; border-bottom:1px solid #DDD}
.greySkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.greySkin .mceMenuItemDisabled .mceText {color:#888}
.greySkin .mceMenuItemSelected .mceIcon {background:url(img/menu_check.gif)}
.greySkin .mceNoIcons .mceMenuItemSelected a {background:url(img/menu_arrow.gif) no-repeat -6px center}
.greySkin .mceMenu span.mceMenuLine {display:none}
.greySkin .mceMenuItemSub a {background:url(img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.greySkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); background:#FFF}
.greySkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}

/* Formats */
.greySkin .mce_formatPreview a {font-size:10px}
.greySkin .mce_p span.mceText {}
.greySkin .mce_address span.mceText {font-style:italic}
.greySkin .mce_pre span.mceText {font-family:monospace}
.greySkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.greySkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.greySkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.greySkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.greySkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.greySkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.greySkin span.mce_bold {background-position:0 0}
.greySkin span.mce_italic {background-position:-60px 0}
.greySkin span.mce_underline {background-position:-140px 0}
.greySkin span.mce_strikethrough {background-position:-120px 0}
.greySkin span.mce_undo {background-position:-160px 0}
.greySkin span.mce_redo {background-position:-100px 0}
.greySkin span.mce_cleanup {background-position:-40px 0}
.greySkin span.mce_bullist {background-position:-20px 0}
.greySkin span.mce_numlist {background-position:-80px 0}
.greySkin span.mce_justifyleft {background-position:-460px 0}
.greySkin span.mce_justifyright {background-position:-480px 0}
.greySkin span.mce_justifycenter {background-position:-420px 0}
.greySkin span.mce_justifyfull {background-position:-440px 0}
.greySkin span.mce_anchor {background-position:-200px 0}
.greySkin span.mce_indent {background-position:-400px 0}
.greySkin span.mce_outdent {background-position:-540px 0}
.greySkin span.mce_link {background-position:-500px 0}
.greySkin span.mce_unlink {background-position:-640px 0}
.greySkin span.mce_sub {background-position:-600px 0}
.greySkin span.mce_sup {background-position:-620px 0}
.greySkin span.mce_removeformat {background-position:-580px 0}
.greySkin span.mce_newdocument {background-position:-520px 0}
.greySkin span.mce_image {background-position:-380px 0}
.greySkin span.mce_help {background-position:-340px 0}
.greySkin span.mce_code {background-position:-260px 0}
.greySkin span.mce_hr {background-position:-360px 0}
.greySkin span.mce_visualaid {background-position:-660px 0}
.greySkin span.mce_charmap {background-position:-240px 0}
.greySkin span.mce_paste {background-position:-560px 0}
.greySkin span.mce_copy {background-position:-700px 0}
.greySkin span.mce_cut {background-position:-680px 0}
.greySkin span.mce_blockquote {background-position:-220px 0}
.greySkin .mce_forecolor span.mceAction {background-position:-720px 0}
.greySkin .mce_backcolor span.mceAction {background-position:-760px 0}
.greySkin span.mce_forecolorpicker {background-position:-720px 0}
.greySkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.greySkin span.mce_advhr {background-position:-0px -20px}
.greySkin span.mce_ltr {background-position:-20px -20px}
.greySkin span.mce_rtl {background-position:-40px -20px}
.greySkin span.mce_emotions {background-position:-60px -20px}
.greySkin span.mce_fullpage {background-position:-80px -20px}
.greySkin span.mce_fullscreen {background-position:-100px -20px}
.greySkin span.mce_iespell {background-position:-120px -20px}
.greySkin span.mce_insertdate {background-position:-140px -20px}
.greySkin span.mce_inserttime {background-position:-160px -20px}
.greySkin span.mce_absolute {background-position:-180px -20px}
.greySkin span.mce_backward {background-position:-200px -20px}
.greySkin span.mce_forward {background-position:-220px -20px}
.greySkin span.mce_insert_layer {background-position:-240px -20px}
.greySkin span.mce_insertlayer {background-position:-260px -20px}
.greySkin span.mce_movebackward {background-position:-280px -20px}
.greySkin span.mce_moveforward {background-position:-300px -20px}
.greySkin span.mce_media {background-position:-320px -20px}
.greySkin span.mce_nonbreaking {background-position:-340px -20px}
.greySkin span.mce_pastetext {background-position:-360px -20px}
.greySkin span.mce_pasteword {background-position:-380px -20px}
.greySkin span.mce_selectall {background-position:-400px -20px}
.greySkin span.mce_preview {background-position:-420px -20px}
.greySkin span.mce_print {background-position:-440px -20px}
.greySkin span.mce_cancel {background-position:-460px -20px}
.greySkin span.mce_save {background-position:-480px -20px}
.greySkin span.mce_replace {background-position:-500px -20px}
.greySkin span.mce_search {background-position:-520px -20px}
.greySkin span.mce_styleprops {background-position:-560px -20px}
.greySkin span.mce_table {background-position:-580px -20px}
.greySkin span.mce_cell_props {background-position:-600px -20px}
.greySkin span.mce_delete_table {background-position:-620px -20px}
.greySkin span.mce_delete_col {background-position:-640px -20px}
.greySkin span.mce_delete_row {background-position:-660px -20px}
.greySkin span.mce_col_after {background-position:-680px -20px}
.greySkin span.mce_col_before {background-position:-700px -20px}
.greySkin span.mce_row_after {background-position:-720px -20px}
.greySkin span.mce_row_before {background-position:-740px -20px}
.greySkin span.mce_merge_cells {background-position:-760px -20px}
.greySkin span.mce_table_props {background-position:-980px -20px}
.greySkin span.mce_row_props {background-position:-780px -20px}
.greySkin span.mce_split_cells {background-position:-800px -20px}
.greySkin span.mce_template {background-position:-820px -20px}
.greySkin span.mce_visualchars {background-position:-840px -20px}
.greySkin span.mce_abbr {background-position:-860px -20px}
.greySkin span.mce_acronym {background-position:-880px -20px}
.greySkin span.mce_attribs {background-position:-900px -20px}
.greySkin span.mce_cite {background-position:-920px -20px}
.greySkin span.mce_del {background-position:-940px -20px}
.greySkin span.mce_ins {background-position:-960px -20px}
.greySkin span.mce_pagebreak {background-position:0 -40px}
.greySkin span.mce_restoredraft {background-position:-20px -40px}
.greySkin span.mce_spellchecker {background-position:-540px -20px}

.greySkin table.mceLayout {
  border-left: 0 !important;
  border-right: 0 !important;
}
.greySkin table.mceLayout tr.mceLast td {
  border-bottom: 0 !important;  
}