body {
  color: black;
  background-color: white;
  font-family: Arial,sans-serif;
  font-size: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: #316AC5;
}

a:visited {
  color: #316AC5;
}

a:hover {
  color: #316AC5;
  text-decoration: underline;
}

img {
  border-width: 0;
}

input[type='checkbox'], input[type='radio'] {
  margin-left: 1px;
	margin-right: 6px;
}

select {
  margin: 1px;
}

textarea, input[type=text], select, input[type=password] {
  font-family: Arial,sans-serif;
  font-size: 100%;
  border: 1px solid #909090;
  margin: 1px;
  text-overflow: ellipsis;
}

input[type=submit], input[type=button] {
  border: 1px solid #707070;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: -moz-linear-gradient(top, #EBEBEB, #D5D5D5);
  background: -webkit-linear-gradient(top, #EBEBEB, #D5D5D5);
  background-image: -ms-linear-gradient(top, #EBEBEB 0%, #D5D5D5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBEBEB', endColorstr='#D5D5D5');
}

input[type=submit]:hover {
  border: 1px solid #707070;
  background: #D5D5D5;
}

input[type=submit]:active {
  border: 1px solid #707070;
  background: #C0C0C0;
}

input[type=button]:active {
  border: 1px solid #707070;
  background: #C0C0C0;
}

input[type=button]:hover {
  border: 1px solid #707070;
  background: #D5D5D5;
}

input[type=submit].ok:hover {
  border: 1px solid #538135;
  background: #C5E0B3;
}

input[type=submit].ok:active {
  border: 1px solid #538135;
  background: #A8D08D;
}

input[type=button].ok:hover {
  border: 1px solid #538135;
  background: #C5E0B3;
}

input[type=button].ok:active {
  border: 1px solid #538135;
  background: #A8D08D;
}

table {
  font-size: 100%;
}

table.fixed {
  table-layout: fixed;
}

.breadcrumb a {
  color: #316AC5 !important;
}

.dkblue_header {
  color: #2C5BAA;
}

.midblue_header {
  color: #1958B7;
}

hr {
  height: 1px;
  color: #E5E5E5;
  background-color: #E5E5E5;
  border: 0;
}

.page_title {
  padding-left: 10px !important;
  font-size: 200%;
  font-weight: bold;
}

.errfield {
  border: 1px solid #C00000 !important;
  background-color: #FFDDDD !important;
}

.grey {
  color: #909090;
}

#toprightmenu_icon {
  width: 43px !important;
	height: 20px !important;
	top: 0 !important;
	margin-right: 6px !important;
  background-color: #477DCC;
  float: right;
}

#toprightmenu_icon:hover {
  background-color: #254A83;
}

#toprightmenu {
  font-size: 80%;
  display: none;
  position: absolute;
	top: 20px;
	right: 6px;
	border: 1px solid #477DCC;
	background-color: white;
	color: black;
	padding: 0;
	z-index: 1000;
  min-width: 160px;
}

#toprightmenu a {
	color: black;
	text-decoration: none;
}

.trm_div {
  padding: 3px 20px 3px 22px;
	margin: 2px;
}

.trm_div:hover {
  cursor: pointer;
  background-color: #FFE7A2;
	margin: 2px;
}

.impersonate {
	background-color: #E0E0E0;
	font-size: 90%;
	height: 32px;
}

.info_bar {
	margin: 2px auto;
	width: 75%;
	border: 1px solid #C0C0C0;
	text-align: left;
	padding: 1px;
	height: 40px;
  line-height: 30px;
  background-color: white;
}

.info_bar img {
	width: 22px;
	height: 22px;
	position: relative;
  padding-top: 1px;
	padding-left: 6px;
	padding-right: 9px;
  float: left;
}

.info_bar_yellow {
	height: 6px;
	width: 100%;
	background-color: #F2B100;
	margin-bottom: 5px;
}

.ok {
	width: 150px;
	margin: 4px 4px 4px 0;
}

.cancel {
	margin: 4px 0 4px 4px;
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.help_tip {
  width: 14px;
  height: 14px;
}

.ui-tooltip {
  padding: 6px;
  color: black;
  background-color: white;
  border: 1px solid #767676;
  max-width: 400px;
  font-size: 80%;
  text-align: justify;
  z-index: 100;
  -moz-box-shadow:    2px 2px 4px 5px #ccc;
  -webkit-box-shadow: 2px 2px 4px 5px #ccc;
  box-shadow:         1px 1px 2px 0px #808080;
  border-radius: 2px;
}

.icon16_active {
  width: 16px;
  height: 16px;
  border: 0;
  cursor: pointer;
}

#content {
  background-colour: #FFFFFF;
  font-size: 80%;
}

audio {
  width: 280px;
  height: 45px;
}
.editorStandard {
  width:756px;
  height:220px;
  margin:0;
}
.editorStandardUans {
    width:756px;
    height:220px;
    margin:0;
}
.editorBasic {
  width:756px;
  height:220px;
  margin:0;
}
.editorSimple {
  width:756px;
  height:220px;
  margin:0;
}
.plaintextarea {
  width:756px;
  height:220px;
  margin:0;
}
.mediadiv {
  margin: auto;
  text-align: center;
}