html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}

input {
  font-size: 90%;
}
td {
  text-align: left;
}
p {
  margin: 2px 0 8px 0;
}
hr {
  background-color: #95AEC8;
  color: #95AEC8;
  height: 1px;
  width: 80%;
  border: 0;
}
form {
	margin-top: 25px;
}
.noimg {
	display: none;
	width: 0;
	height: 0;
}
.paper_title {
  font-size: 24pt;
  font-weight: bold;
  color: #295AAD;
}
.f {
  text-align: right;
  line-height: 180%;
  padding-right: 0.3em;
}
.w {
  font-size: 90%;
  color: #C00000;
  font-weight: bold;
}
.warn {
  color: #C00000;
  font-weight: bold;
}
.logout {
  float: right;
  font-weight: bold;
  color: #C00000;
  cursor: pointer;
}
a.logout {
  color: #C00000;
}
.testclip {
  color: #D27800;
  font-size: 90%;
  font-weight: bold;
}
.powered {
  font-family: Arial,sans-serif;
  color: #295AAD;
  font-size: 75%;
  bottom: 0;
  right: 30px;
  padding: 10px;
  position: absolute;
}
.bullet {
  width: 16px;
	height: 16px;
  padding-right: 8px;
}
input[type=button].notok:hover {
  border: 1px solid #C00000;
  background: #FF8080;
}
.photoid {
  background-color: black;
  color: white;
  font-weight: bold;
  width: 95px;
  font-size: 90%;
  text-align: center;
  margin-bottom: 4px;
}
#info_overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background: rgba(255,255,255,.5);
}
#info_submit_dialog{
  position: absolute;
  top: 100px;
  left: 100px;
  width: 500px;
  height: 200px;
  border: 3px solid #1958B7;
  background-color: white;
}
#info_submit_dialog_icon {
  float: left;
  margin: 10px 15px 10px 10px;
}
#info_submit_dialog_title{
  margin: 10px 10px 10px 20px;
  text-align: left;
  font-weight: bolder;
  font-size: x-large;
}
#info_submit_dialog_msg{
  margin: 40px 10px 10px 20px;
  text-align: left;
}
#info_submit_dialog_buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #EAEAEA;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
}